@font-face {
  font-family: "Pretendard GOV";
  font-weight: 900;
  font-display: swap;
  src: local("Pretendard GOV Black"),
    url(/woff2-subset/PretendardGOV-Black.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Black.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Black.woff2) format("woff2"),
    url(/woff/PretendardGOV-Black.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 800;
  font-display: swap;
  src: local("Pretendard GOV ExtraBold"),
    url(/woff2-subset/PretendardGOV-ExtraBold.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-ExtraBold.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-ExtraBold.woff2) format("woff2"),
    url(/woff/PretendardGOV-ExtraBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard GOV Bold"),
    url(/woff2-subset/PretendardGOV-Bold.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Bold.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Bold.woff2) format("woff2"),
    url(/woff/PretendardGOV-Bold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 600;
  font-display: swap;
  src: local("Pretendard GOV SemiBold"),
    url(/woff2-subset/PretendardGOV-SemiBold.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-SemiBold.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-SemiBold.woff2) format("woff2"),
    url(/woff/PretendardGOV-SemiBold.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard GOV Medium"),
    url(/woff2-subset/PretendardGOV-Medium.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Medium.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Medium.woff2) format("woff2"),
    url(/woff/PretendardGOV-Medium.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard GOV Regular"),
    url(/woff2-subset/PretendardGOV-Regular.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Regular.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Regular.woff2) format("woff2"),
    url(/woff/PretendardGOV-Regular.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 300;
  font-display: swap;
  src: local("Pretendard GOV Light"),
    url(/woff2-subset/PretendardGOV-Light.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Light.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Light.woff2) format("woff2"),
    url(/woff/PretendardGOV-Light.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 200;
  font-display: swap;
  src: local("Pretendard GOV ExtraLight"),
    url(/woff2-subset/PretendardGOV-ExtraLight.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-ExtraLight.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-ExtraLight.woff2) format("woff2"),
    url(/woff/PretendardGOV-ExtraLight.woff) format("woff");
}

@font-face {
  font-family: "Pretendard GOV";
  font-weight: 100;
  font-display: swap;
  src: local("Pretendard GOV Thin"),
    url(/woff2-subset/PretendardGOV-Thin.subset.woff2) format("woff2"),
    url(/woff-subset/PretendardGOV-Thin.subset.woff) format("woff"),
    url(/woff2/PretendardGOV-Thin.woff2) format("woff2"),
    url(/woff/PretendardGOV-Thin.woff) format("woff");
}

* {
  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
